@import 'variables';

.field {
  flex-grow: 1;

  label {
    color: $gray;
    display: block;
    font-weight: 500;
    margin: 1rem 0 0.25rem 0.1rem;
  }

  input {
    box-sizing: border-box;
    min-width: 200px;
    width: 90%;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
  }

  input,
  textarea {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba($black, 0.1);
    padding: 0.5rem 0.75rem;
  }
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.submit {
  background-color: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba($black, 0.2);
  color: $white-ter;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  transition: all 300ms;
  width: 100%;

  &:hover {
    background-color: lighten($blue, 2%);
    box-shadow: 0 2px 7px rgba($black, 0.4);
  }

  span {
    margin-right: 0.5rem;
  }
}
