@import 'variables';

.content {
  margin: 2rem auto;
  max-width: 1400px;
}

.cardLayout {
  background-color: $white-bis;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90vw;
  margin: 4rem auto;
  border-radius: 10px;
  z-index: -1;

  @media (min-width: $tablet) {
    max-width: 740px;
  }

  box-shadow: 0 2px 7px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
}
