@import 'variables';

.navigation {
  ul {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 0 0 0;
  }

  li {
    display: block;
    text-decoration: none;
  }

  a {
    color: $white-bis;
    text-decoration: none;
  }
}
