@import 'variables';

.container {
  position: relative;
}

.scrolling {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5rem;
  overflow: auto;
  position: relative;
  transition: all 0.5s;

  @media (min-width: $tablet) {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 2%,
      black 98%,
      transparent
    );
  }
}

.padding {
  display: block;
  padding: 1px 5vw;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;

  @media (max-width: $tablet) {
    display: none;
  }

  button {
    background-color: transparent;
    border: none;
    color: $white-ter;
    cursor: pointer;
    display: none;
    font-weight: 800;
    height: 50px;
    transition: transform 500ms;
    width: 50px;
  }

  button:hover svg {
    transform: scale(1.25);
  }
}

.left {
  left: -60px;
}

.right {
  right: -60px;
}
