@import 'variables';

.container {
  position: relative;
}

.scrolling {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.5rem;
  overflow: auto;
  position: relative;
  transition: all 0.5s;

  @media (min-width: $tablet) {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 5%,
      black 95%,
      transparent
    );
  }
}

.padding {
  display: block;
  padding: 1px 200px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 25px;

  @media (max-width: $tablet) {
    display: none;
  }

  button {
    display: none;
    background-color: $white-ter;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.left {
  left: -50px;
  ::after {
    content: '<';
  }
}

.right {
  right: -50px;
  ::after {
    content: '>';
  }
}
