@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-3 {
    border-width: 3px;
  }
  .rounded-mega {
    border-radius: 5rem;
  }
  .rotate-8 {
    --tw-rotate: 8deg;
  }
  .-rotate-8 {
    --tw-rotate: -8deg;
  }
  .rotate-0\.5 {
    --tw-rotate: 0.5deg;
  }
  .-rotate-0\.5 {
    --tw-rotate: -0.5deg;
  }
}
