@font-face {
  font-family: 'iA Writer Mono';
  src: url('../fonts/iAWriterMonoS-Regular.woff2');
}

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
